<h1>HELLO</h1>
<form action="/switch_on" method="GET">
    <input type="submit" value="Switch On">
</form>
<form action="/switch_off" method="GET">
    <input type="submit" value="Switch Off">
</form>
<form action="/get_reading" method="GET">
    <input type="submit" value="Get Temperature and Humidity Reading">
</form>
{% if humid and temp %}
	<h3> Humidity - {{humid}}, Temperature - {{temp}} </h3>
{% endif %}
<form action="/distance" method="GET">
    <input type="submit" value="Get Distance Reading">
</form>
{% if distance %}
        <h3> Distance - {{distance}} </h3>
{% endif %}
